<div class="row">
    <div class="col-md-12">
        <div class="container-fluid">
            <table class="table table-striped table-hover border my-3">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Registration Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <span style="color:gray">{{first_name}}</span>
                        </td>
                        <td>
                            <span style="color:gray">{{last_name}}</span>
                        </td>
                        <td>
                            <span style="color:gray">{{email}}</span>
                        </td>
                        <td>
                            <span style="color:gray">{{mobile_number}}</span>
                        </td>
                        <td>
                            <span style="color:gray">{{register_date}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>