<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" (click)="goToAddRoutes()">
            Add
        </button>
    </div>
    <div class="col-md-12">
        <div class="container-fluid">
            <table class="table table-striped table-hover border my-3">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let uL of userList">
                    <tr>
                        <td>
                            <span style="color:gray">{{uL.first_name}}</span>
                        </td>
                        <td>
                            <span style="color:gray">{{uL.last_name}}</span>
                        </td>
                        <td>
                            <span style="color:gray">{{uL.email}}</span>
                        </td>
                        <td>
                            <span style="color:gray">{{uL.mobile_number}}</span>
                        </td>
                        <td><button class="btn btn-success" (click)="goToEdit(uL._id)">Edit</button>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>